%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-horizontal {
  display: flex;
  align-items: center;
}

%absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

%bg-contain {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

%bg-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

%scrollbar-none {
  &::-webkit-scrollbar {
    width: 0;
  }
}
